body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.vl {
    border-left: 2px solid black;
    height: 510px;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 100px;
  }

.PT{
    clip-path: circle();
    height: 260px; 
}

.contact-buton{
    float: left; 
}

.flag{
    float: left; 
    height: 2rem; 
}

#icon {
    line-height: 50px;
}

#icon {
    vertical-align: middle;
    font-size: 30px;
}

#title2{
    text-align: center;
    padding-top: 7rem;
    color: blue;
}